body {
    background-size: cover;    
   
}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {

    background-color: yellow;   
    color: black;
    text-align: center;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 20px;
    
    font-size: 16px;
    font-family: Arial;
}

.input-icon {

    position: absolute;
    margin: 0.9rem 0.7rem;
    
}



















.input-element {

    padding: 0.5rem 0rem 0.5rem 2rem;
    font-size: 16px;
    border-radius: 25px;
}

.text-align-center {
    text-align: center;
}

.forgot-password-text {

    color: #CCBFBF;
    font-size: 14px;
    text-align: left;
}

.register-text {

    color: #CCBFBF;
    font-size: 14px;
    float: right;
}

.error {

    text-align: center;
    word-break: break-word;
    max-width: 20rem;
    color: #ff9e9e;
}